.abilities-mod .holder { padding: 0; }
.abilities-mod .list .list-element { position: relative; display: table; width: 25%; overflow: hidden; height: 300px; overflow: hidden; 
    .text { position: relative; height: 100%; display: table-cell; vertical-align: middle; margin: 0; text-align: center; z-index: 1; color: var(--second-color); }
}
.abilities-mod .list .list-element .img-holder { position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 0; margin: 0; z-index: 0; overflow: hidden; 
    .img { position: absolute; top: 50%; left: 50%; width: auto; min-width: 100%; min-height: 100%; transform: translate(-50%,-50%); transition: var(--fast-transition); }
}
.abilities-mod .list .list-element .img-holder:after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: var(--fourth-color); opacity: 0.3; transition: var(--fast-transition); }
.abilities-mod .list .list-element:hover .img-holder:after { opacity: 0.6; }
.abilities-mod .list .list-element:hover .img-holder .img { transform: translate(-50%,-50%) scale(1.5,1.5); }

.ie .abilities-mod .list .list-element .img-holder .img { top: 0; left: 0; transform: translate(0,0); }
.ie .abilities-mod .list .list-element:hover .img-holder .img { transform: scale(0,0); }

@media only screen and (--tablet-viewport) {    
    .abilities-mod .list .list-element { height: 192px; }
}

@media only screen and (--mobile-viewport) {    
    .abilities-mod .list .list-element { width: 50%; height: 160px; }
}