/* global style
   ============ */

/* fonts
   ----- */
/* sans-serif */
@font-face { font-family: 'azo-regular'; src: url('../fonts/sans-serif/azo-regular.ttf') format('ttf'), url('../fonts/sans-serif/azo-regular.woff')  format('woff'); }

/* serif */
@font-face { font-family: 'proxima-light'; src: url('../fonts/serif/proximaNova-light.ttf') format('ttf'), url('../fonts/serif/proximaNova-light.woff')  format('woff'); }
@font-face { font-family: 'proxima-regular'; src: url('../fonts/serif/proximaNova-regular.ttf') format('ttf'), url('../fonts/serif/proximaNova-regular.woff')  format('woff'); }     
@font-face { font-family: 'proxima-semiBold'; src: url('../fonts/serif/proximaNova-semiBold.ttf') format('ttf'), url('../fonts/serif/proximaNova-semiBold.woff')  format('woff'); }

/* DOM tags */
* { -webkit-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 62.5%; height: 100%; }
html,
body { padding: 0; margin: 0; font-family: 'proxima-regular', sans-serif; }
body { font-size: 16px; font-size: 1.6rem; }

:--headings { font-family: 'azo-regular', serif; }
:--headings,
p { padding: 0; margin: 0 0 20px 0; color: var(--first-color) }

ul,
ol { margin: 0; padding: 0; }
ul li { display: inline-block; list-style-type: none; }

a { transition: var(--fast-transition); }
a,
a:hover,
a:focus { display: inline-block; text-decoration: none; color: var(--first-color); }
a:hover,
a:focus { color: var(--second-color); }

/* browsers that don't support HTML5 */
header, 
section, 
footer, 
aside, 
nav, 
main, 
article, 
figure { display: block; }

/* helper classes
   -------------- */
/* wrapper */
.holder { max-width: 1200px; margin: 0 auto; padding: 0 20px; }

/* layouts */
.full-width { display: block; width: 100%; }
.half-width { display: inline-block; width: 50%; }
.two-thirds { display: inline-block; width: 66.66%; }
.one-third { display: inline-block; width: 33.33%; }

/* display type */
.bl { display: block; }
.inline-bl { display: inline-block; }
.equal-height { display: flex; }

/* spacing modules */
.mod { padding: 40px 0; }
.mod + .mod,
.mod.small + .mod.small { padding-top: 0; }
.mod.space { padding: 40px; }
.mod.small { padding: 20px 0; }
.mod.small.space { padding: 20px; }

/* cta */
.cta { border: none; background: transparent; outline: none; }

/* float */
.left { float: left; }
.right { float: right; }
.cf { clear: both; overflow: auto; }

/* icons */
.icon { width: 100%; max-width: 50px; height: 100%; max-height: 50px; }
.icon svg { width: 100%; height: auto; }

/* text and titles */
.title,
.sub-title { font-size: 40px; font-size: 4rem; padding-left: 10px; }
.sub-title { font-size: 25px; font-size: 2.5rem; }
.sub-title.smp { padding-left: 0; }
.text { font-size: 16px; font-size: 1.6rem; }
.uppercase { text-transform: uppercase; }

/* alignment */
.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }
.space-between { justify-content: space-between; }

/* accessibility */
.hidden-accessibility { display: none; }
.hidden-ui { position: absolute; left: 9999px; }
.disable-field { opacity: 0.5; }

/* form validation */
.form-field,
.form-section-errors { margin-bottom: 30px; }
.error .err-msgs { color: var(--third-color); }
.err-msgs [data-validation] { display: none; }
.form-section-errors span:first-child:after { content: ' - '; }

/* shadows */
.shadow { box-shadow: 0px 0px 21px 0px var(--fifth-color); transition: var(--fast-transition); }
.shadow.active { box-shadow: 0px 0px 21px 8px var(--fifth-color); }

/* animations */
.fade-in-tra { opacity: 1; }
.anim-mod,
.sub-anim-mod { opacity: 0; }
.anim-mod.anim,
.sub-anim-mod.anim { opacity: 1; }

/* global modules
   -------------- */
/* header */
#site-header { padding: 13px; background-color: var(--sixth-color);
    .holder { max-width: 100%; }
    .logo {
        .icon { max-width: 118px; }
        .icon svg { max-height: 50px; }
        .icon:hover svg { transition: var(--fast-transition); }
        .icon:hover svg { opacity: 0.5; }
    }

    .burger { display: none; }
    
    .nav { max-width: calc(100% - 120px); overflow: hidden; }
    .nav .nav-holder { overflow: hidden; }
    .nav .nav-holder .nav-element { padding: 18px 15px; 
        .link { position: relative; }
        .link:after { content: ''; position: absolute; bottom: -5px; left: 0; width: 100%; height: 2px; background-color: var(--second-color); transform: scaleX(0); transition: var(--fast-transition); }
        .link:hover:after,
        .link:focus:after { transform: scaleX(1); }
    }
    .nav .nav-holder .nav-element.anim { animation: lab-global-slideUp-smooth var(--fast-transition); }            
}

/* media queries
   ------------- */
/* tablet */
@media only screen and (--tablet-viewport) {
    #site-header { position: relative; padding: 0; z-index: 4;
        .logo { padding: 5px 0;
            .icon { max-width: 90px; }
        }        

        .burger { position: relative; display: inline-block; width: 53px; height: 53px;
            .line { position: absolute; top: 50%; left: 50%; width: 35px; height: 2px; background-color: var(--second-color); transform: translate(-50%,-50%); transition: var(--fast-transition); }
            .line:first-child { top: calc(50% - 13px); }
            .line:last-child { top: calc(50% + 13px); }
        }
        .burger.active {
            .line:nth-child(2) { opacity: 0; }
            .line:first-child { top: 50%; transform: translate(-50%,-50%) rotate(-45deg); }
            .line:last-child { top: 50%; transform: translate(-50%,-50%) rotate(45deg); }
        }
        .burger.active + .nav { transform: translateY(0); background-color: var(--sixth-color); }

        .nav { position: absolute; top: 100%; left: 0; width: 100%; max-width: 100%; height: 100vh; transform: translateY(-100%); transition: var(--fast-transition); z-index: -1; 
            .nav-holder .nav-element { display: block; text-align: center; float: none;
                .link { color: var(--second-color); }
            }
        }
    }
}

/* global animations */
@keyframes lab-global-slideUp {
    0% { opacity: 0; transform: translateY(50px); } 
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes lab-global-slideUp-smooth {
    0% { opacity: 0; transform: translateY(25px); } 
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes lab-global-fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}