/* global style
   ============ */

/* fonts
   ----- */
/* serif */
@font-face { font-family: 'azo-regular'; src: url('../fonts/serif/azo-regular.ttf') format('truetype'), url('../fonts/serif/azo-regular.woff')  format('woff'); }

/* sans-serif */
@font-face { font-family: 'proxima-light'; src: url('../fonts/sans-serif/proximaNova-light.ttf') format('truetype'), url('../fonts/sans-serif/proximaNova-light.woff') format('woff'); }
@font-face { font-family: 'proxima-regular'; src: url('../fonts/sans-serif/proximaNova-regular.ttf') format('truetype'), url('../fonts/sans-serif/proximaNova-regular.woff') format('woff'); }
@font-face { font-family: 'proxima-semiBold'; src: url('../fonts/sans-serif/proximaNova-semiBold.ttf') format('truetype'), url('../fonts/sans-serif/proximaNova-semiBold.woff') format('woff'); }

/* DOM tags */
* { -webkit-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 62.5%; height: 100%; }
html,
body { padding: 0; margin: 0; font-family: 'proxima-regular', sans-serif; }
body { font-size: 16px; font-size: 1.6rem; }

:--headings { font-weight: normal; }
:--headings,
p { padding: 0; margin: 0 0 20px 0; }

ul,
ol { margin: 0; padding: 0; }
ul li { display: inline-block; list-style-type: none; }

a { transition: var(--fast-transition); }
a,
a:hover,
a:focus { display: inline-block; text-decoration: none; color: var(--first-color); }
a:hover,
a:focus { color: var(--second-color); }

/* browsers that don't support HTML5 */
header, 
section, 
footer, 
aside, 
nav, 
main, 
article, 
figure { display: block; }

/* helper classes
   -------------- */
#main { padding-top: 80px; }

/* wrapper */
.holder { max-width: 1200px; margin: 0 auto; padding: 0 20px; }

/* layouts */
.full-width { display: block; width: 100%; }
.half-width { display: inline-block; width: 50%; }
.two-thirds { display: inline-block; width: 66.66%; }
.one-third { display: inline-block; width: 33.33%; }

/* display type */
.bl { display: block; }
.inline-bl { display: inline-block; }
.equal-height { display: flex; }

/* spacing modules */
.mod { padding: 40px 0; }
.mod + .mod,
.mod.small + .mod.small { padding-top: 0; }
.mod.space { padding: 40px; }
.mod.small { padding: 20px 0; }
.mod.small.space { padding: 20px; }

/* cta */
.cta { border: none; background: transparent; outline: none; padding: 0; cursor: pointer; }
.cta.action { background-color: var(--second-color); color: var(--sixth-color); padding: 10px 20px; font-family: 'proxima-semiBold', sans-serif; font-size: 26px; font-size: 2.6rem; }

/* float */
.left { float: left; }
.right { float: right; }
.cf:after { content: ""; clear: both; display: table; }

/* icons */
.icon { width: 100%; max-width: 50px; height: 100%; max-height: 50px; }
svg { width: 100%; height: auto; }

/* text and titles */
.title { font-size: 26px; font-size: 2.6rem; color: var(--second-color); }
.text { font-size: 16px; font-size: 1.6rem; }

.uppercase { text-transform: uppercase; }

/* accessibility */
.hidden-accessibility { display: none; }
.hidden-ui { position: absolute; left: 9999px; }
.hidden { opacity: 0; }

/* form validation */
.form-field,
.form-section-errors { margin-bottom: 30px; }
.error .err-msgs { color: var(--ninth-color); margin: 5px 0; }
.err-msgs [data-validation] { display: none; }
.form-section-errors span:first-child:after { content: ' - '; }

/* shadows */
.shadow { box-shadow: 0px 0px 21px 0px var(--fifth-color); transition: var(--fast-transition); }
.shadow.active { box-shadow: 0px 0px 21px 8px var(--fifth-color); }

/* animations */
.fade-in-tra { opacity: 1; }
.anim-mod,
.sub-anim-mod { opacity: 0; }
.anim-mod.anim,
.sub-anim-mod.anim { opacity: 1; }

/* inputs
   ------ */
::placeholder { color: var(--seventh-color); font-size: 18px; font-size: 1.8rem; }
/* range */
input[type=range] { -webkit-appearance: none; margin: 18px 0; width: 100%; background: transparent; }
input[type=range]:focus { outline: none; }
input[type=range]::-webkit-slider-runnable-track { width: 100%; height: 2px; cursor: pointer; background: var(--sixth-color); border-radius: 0; border: none; }
input[type=range]::-webkit-slider-thumb { border: none; height: 16px; width: 16px; border-radius: 50%; background: var(--sixth-color); cursor: pointer; -webkit-appearance: none; margin-top: -8px; }
input[type=range]:focus::-webkit-slider-runnable-track { background: var(--sixth-color); }
input[type=range]::-moz-range-track { width: 200%; height: 2px; cursor: pointer; background: var(--sixth-color); border-radius: 50%; border: none; }
input[type=range]::-moz-range-thumb { border: none; height: 16px; width: 16px; border-radius: 50%; background: var(--sixth-color); cursor: pointer; }
input[type=range]::-ms-track { width: 100%; height: 2px; cursor: pointer; background: transparent; border-color: transparent; border-width: 16px 0; color: transparent; }
input[type=range]::-ms-fill-lower { background: var(--sixth-color); border: none; border-radius: 0; }
input[type=range]::-ms-fill-upper { background: var(--sixth-color); border: none; border-radius: 0; }
input[type=range]::-ms-thumb { border: none; height: 16px; width: 16px; border-radius: 50%; background: var(--sixth-color); cursor: pointer; }
input[type=range]:focus::-ms-fill-lower,
input[type=range]:focus::-ms-fill-upper { background: var(--sixth-color); }

.edge input[type=range]::-ms-thumb { transform: translateY(4px); }

/* global modules
   -------------- */
/* header */
#site-header { position: absolute; top: 0; left: 0; width: 100%; height: auto; padding: 13px; background-color: var(--sixth-color); z-index: 5;
    .holder { max-width: 100%; }
    .logo {
        .icon { max-width: 118px; }
        .icon svg { max-height: 50px; }
        .icon:hover svg { transition: var(--fast-transition); }
        .icon:hover svg { opacity: 0.5; }
    }

    .burger { display: none; }
    
    .nav { max-width: calc(100% - 120px); overflow: hidden; }
    .nav .nav-holder { overflow: hidden; }
    .nav .nav-holder .nav-element { padding: 18px 15px; 
        .link { position: relative; }
        .link:after { content: ''; position: absolute; bottom: -5px; left: 0; width: 100%; height: 2px; background-color: var(--second-color); transform: scaleX(0); transition: var(--fast-transition); }
        .link:hover:after,
        .link:focus:after { transform: scaleX(1); }
    }
    .nav .nav-holder .nav-element.anim { animation: lab-global-slideUp-smooth var(--fast-transition); }            
}
#site-header.fixed { position: fixed; top: 0; left: 0; transform: translateY(-100%); box-shadow: 0px 0px 10px 4px var(--sixth-color); }
#site-header.fixed.slide { transform: translateY(0); transition: var(--fast-transition); }

#site-footer { position: relative; overflow: hidden; background-color: var(--sixth-color); text-align: center; padding: 44px 0 25px;
    .contacts { padding-bottom: 40px; 
        .contact-element { vertical-align: middle;
            .social-nav { padding: 0 5px;
                .platform { padding: 0 10px;
                    .cta { display: inline-block; }
                }
            }
            .contact-detail { padding: 0 32px; border-left: 2px solid var(--seventh-color); color: var(--seventh-color); font-size: 19px; font-size: 1.9rem; }
            .contact-detail:hover,
            .contact-detail:focus { color: var(--second-color); }
        }
    }

    .mod-carousel { position: relative; overflow: hidden;
        .slide-container { background-color: transparent; }
        .slide-container .slide { padding: 30px 0; 
            .text { margin: 0; }
            .text.award { font-size: 12px; font-size: 1.2rem; color: var(--first-color); max-width: 150px; margin: 0 auto; padding-bottom: 5px; }
            .text.year { color: var(--second-color); }
        }
    }
    .mod-carousel > fieldset {
        .step { display: block; border-color: transparent; }
        .step:after,
        .step:before { content: ''; position: absolute; top: 50%; ; right: 0; width: 26px; height: 2px; background-color: var(--second-color); transform: rotate(45deg); transform-origin: right; }
        .step:before { transform: rotate(-45deg); transform-origin: right;  }
        .step.prev,
        .step.next { top: 50%; display: none !important; }
        .step.prev:after,
        .step.prev:before { right: auto; left: 0; transform-origin: left; }
    }
    .mod-carousel > .pagination-controls { display: none !important; }
    
    .copyright { display: inline-block; margin: 0 auto; padding: 85px 10px 0; 
        .property,
        .value { display: inline-block; margin: 0; padding: 0; color: var(--first-color); text-align: left; font-size: 12px; font-size: 1.2rem; }        
        .value { padding-left: 10px; }
    }
}

/* media queries
   ------------- */
/* tablet */
@media only screen and (--tablet-viewport) {
    #site-header { position: absolute; padding: 0; z-index: 4;
        .logo { padding: 5px 0;
            .icon { max-width: 90px; }
        }        

        .burger { position: relative; display: inline-block; width: 53px; height: 53px;
            .line { position: absolute; top: 50%; left: 50%; width: 35px; height: 2px; background-color: var(--second-color); transform: translate(-50%,-50%); transition: var(--fast-transition); }
            .line:first-child { top: calc(50% - 13px); }
            .line:last-child { top: calc(50% + 13px); }
        }
        .burger.active {
            .line:nth-child(2) { opacity: 0; }
            .line:first-child { top: 50%; transform: translate(-50%,-50%) rotate(-45deg); }
            .line:last-child { top: 50%; transform: translate(-50%,-50%) rotate(45deg); }
        }
        .burger.active + .nav { transform: translateY(-2px); background-color: var(--sixth-color); }

        .nav { position: absolute; top: 100%; left: 0; width: 100%; max-width: 100%; height: 100vh; transform: translateY(-100%); transition: var(--fast-transition); z-index: -1; 
            .nav-holder .nav-element { display: block; text-align: center; float: none;
                .link { color: var(--second-color); }
            }
        }
    }

    #site-footer .contacts { padding-bottom: 50px; }
    #site-footer .mod-carousel > fieldset .step.prev, 
    #site-footer .mod-carousel > fieldset .step.next { display: inline-block !important; }

    #main { padding-top: 53px; }
}

@media only screen and (--mobile-viewport) {
    #site-footer {
        .content { display: flex; flex-direction: column-reverse; padding: 14px 0 7px; }
        .contacts { padding: 28px 0 50px;
            .contact-element { display: block;
                .social-nav ul { text-align: center;
                    .platform { float: none; }
                }
                .contact-detail { display: block; padding: 10px 0 0; border: none; }
            }   
        }
        .copyright { padding: 0 40px;
            .value { width: calc(100% - 10px); padding-left: 0; text-align: center; }
            .value,
            .property { font-size: 10px; font-size: 1rem; }
        }
    }   
}

/* global animations */
@keyframes lab-global-slideUp {
    0% { opacity: 0; transform: translateY(50px); } 
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes lab-global-slideUp-smooth {
    0% { opacity: 0; transform: translateY(25px); } 
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes lab-global-fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}