/* variables */
:root {
    /* colors */
    --first-color: #ffffff;
    --second-color: #ffff00;
    --third-color: #a94442;
    --fourth-color: #000000;
    --fifth-color: #cccccc;

    $fastTransition: 0.3s;
}

/* media queries */
@custom-media --medium-viewport (max-width: 1024px);
@custom-media --small-viewport (max-width: 768px);
@custom-media --very-small-viewport (max-width: 420px);

/* custom selectors */
@custom-selector :--headings h1, h2, h3, h4, h5, h6;